@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right bottom, #d16ba5, #b989da, #88aafd, #43c6ff, #00deff, #00e9f6, #00f4e5, #34fcce, #57feb5, #78fe9a, #99fe7d, #bafb5f);
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;

  --primary-text-color: #181820;
  --secondary-text-color: #2c2c2c;
  --durability-text-color: #6a737d9c;
  --icon-color: #000000;
  --darkmode-icon-color: #181820;
  --border-color: #346be245;
  --text-decoration-color: #cc15cc;
  --warning-color: rgb(185, 24, 24);
  --background-color: #fff;
}

.darkmode-switch {
  display: none;
}

.resume {
  position: relative;
  max-width: 900px;
  /* overflow: hidden; */
  margin: 100px auto;
}

.resume__block {
  position: relative;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
  min-height: 8em;
  margin-bottom: 3em;
}

.contact-info__head-block {
  position: absolute;
  width: 60%;
  top: -40px;
  right: 20px;
  padding: 1em 2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.fh {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-info__block--side {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 1em;
  margin: 2em 0;
}

.contact-info__block--center {
  padding-top: 10em;
  padding-bottom: 8vw;
  /* height: 516px; */


  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  order: -1;
  z-index: 1;
}

.contact-info__avatar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 3px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
}

.video-header {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
  z-index: -1;
  width: 100%;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}


.contact-info__item-icon {
  height: 4rem;
}


.contact-info__item {
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.contact-info__item.warning {
  display: none;
}

@media screen and (max-width: 576px) {

  .contact-info__head-block {
    width: calc(100% - 50px);
  }

  .main-info,
  .contact_info_container {
    flex-direction: column;
  }

  .contact_info_container {
    align-items: center;
  }

  .contact-info__block:not(:last-child) {
    margin-bottom: 20px;
  }

  .experiences {
    margin-right: 0;
  }
}

.contact-info__item::after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: var(--text-decoration-color);
	transition: transform .3s;
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.contact-info__item:hover::after,
.contact-info__item:focus::after {
  transform: scale(1);
}

.contact-info__item-icon path {
  fill: var(--icon-color);
}

.contact-info__item .contact-info__item-icon {
  transition: transform .3s;
}

.contact-info__item:hover .contact-info__item-icon {
  transform: scale(1.1);
}

.contact-info__item .contact-info__item-icon path {
  transition: fill .3s;
}

.contact-info__item:hover .contact-info__item-icon path {
  
  fill: var(--text-decoration-color);
}

.intro__icon-wrapper {
  /* display: flex;
  justify-content: center;
  position: absolute;
  /* width: 60%; */
  position: absolute;
  transform: translate(-30px, -20px);
  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.intro__icon {
  height: 3rem;
  vertical-align: text-bottom;
}

.intro_text {
  font-size: 1.3rem;
  padding: 1em 3em 1em 6em;
} 

.skills__header {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 15px;

  position: absolute;
  top: -18%;
  left: 50%;
  transform: translateX(-50%);
  padding: .5em 2em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  font-size: 2rem;
}

.skills__text {
  color: var(--secondary-text-color);
  /* text-align: justify; */
  font-size: 1.3rem;
  padding: 3em 3em 2em 4em;
}